<div class="line-text">
  <span class="lines"></span>
  <span class="text">Or connect using</span>
</div>

<div class="socials">
  <ion-button (click)="signInAp()" class="btn-ap"><ion-icon name="logo-apple"></ion-icon></ion-button>
  <ion-button (click)="signInFb()" class="btn-fb"><ion-icon name="logo-facebook"></ion-icon></ion-button>
  <ion-button (click)="signInTw()" class="btn-tw"><ion-icon name="logo-twitter"></ion-icon></ion-button>
  <ion-button (click)="signInGo()" class="btn-go"><ion-icon name="logo-google"></ion-icon></ion-button>
</div>
