<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>287022135589-ahu38qhhjblmadupc1ninms76njsq8jk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287022135589-ahu38qhhjblmadupc1ninms76njsq8jk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>287022135589-bvv3ig4thf8f7gh10qs3ucf4ugiktf4b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAlKxkK6F5STlHgw0z-VSLsyal2_zQnRCg</string>
	<key>GCM_SENDER_ID</key>
	<string>287022135589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cryptoinc.apps.customers</string>
	<key>PROJECT_ID</key>
	<string>golden-946bf</string>
	<key>STORAGE_BUCKET</key>
	<string>golden-946bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287022135589:ios:8e9b5ca950141400ba82cc</string>
</dict>
</plist>