<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-justify">Seguridad</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card mode="ios" (click)="settingsPassword()">
    <ion-card-header>
      <ion-card-subtitle><ion-icon name="lock-closed-outline"></ion-icon> Actualizar mi password <ion-icon name="chevron-forward-outline" class="ion-float-right"></ion-icon></ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card mode="ios" (click)="settings2FA()">
    <ion-card-header>
      <ion-card-subtitle><ion-icon name="shield-half-outline"></ion-icon>Aumentar seguridad 2FA <ion-icon name="chevron-forward-outline" class="ion-float-right"></ion-icon></ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card mode="ios" (click)="deleteMyAccount()">
    <ion-card-header>
      <ion-card-subtitle><ion-icon name="trash-outline"></ion-icon> Eliminar mi cuenta <ion-icon name="chevron-forward-outline" class="ion-float-right"></ion-icon></ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
