<ion-content>
<div id="header">
  <div id="app-bar">
    <ion-icon slot="start" name="arrow-back" (click)="back()"></ion-icon>
    <div id="logo">
      <img src="./assets/logo.png" alt="" srcset="">
    </div>
  </div>
  <h1>Sign In</h1>
  <p>Sign in to discover amazing thing near <br/> around you</p>
</div>

<div class="wrapper">
  <ion-card class="form-wrapper">
    <ion-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-icon name="mail"></ion-icon>
          <ion-input type="email" formControlName="email" placeholder="Email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="lock-closed"></ion-icon>
          <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
        </ion-item>
        <ion-button expand="block" shape="round" type="submit" [disabled]="!form.valid">Sign In</ion-button>
      </form>
      <app-social-auth class="ion-padding"></app-social-auth>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>
