ion-content {
  #header {
    height: 33%;
    background: #1a1a1a;
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 20px;

    #app-bar {
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      ion-icon {
        font-size: 24px;
        margin-left: -5px;
      }

      #logo {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        border-radius: 10px;
        align-self: center;

        img {
          width: 100%;
        }
      }
    }

    h1 {
      font-size: 19px;
      margin-top: 0px;
    }

    p {
      font-size: 15px;
      line-height: 1.1;
      margin-top: 3px;
    }
  }

  .wrapper {
    position: absolute;
    top: 26%;
    left: 4%;
    right: 4%;

    .form-wrapper {
      box-shadow: none;
      border-radius: 20px;
      padding: 15px 10px;

      ion-item {
        --background: #ffffff;
        --padding-start: 10px;
        --highligth-height: 0;
        --border-width:0;
        --padding-top:0;
        --min-height: 40px;
        margin-bottom: 15px;
        border-radius: 5px;

        ion-icon {
          font-size: 18px;
        }

        ion-input {
          margin-left: 10px;
          font-size: 14px;
        }
      }

      ion-button {
        margin-top: 25px;
      }
    }
  }
}
