ion-content {
  --background: #fccb50;
  #header {
    height: 50%;
    background: #1a1a1a;
    display: flex;
    flex-direction: column;
    color:#ffffff;
    border-radius: 0px 0px 20px 20px;

    #app-bar {
      height: 60px;
      padding: 0 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      ion-icon {
        font-size: 24px;
      }
    }

    #logo {
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      align-self: center;
      margin-top: 18%;
      background: #ffffff;

      img {
        width: 70%;
      }
    }

    h2 {
      text-align: center;
      font-weight: bold;
      margin: 0;
      font-size: 20px;
      letter-spacing: 1px;
      margin-top: 5px;
    }
  }

  ion-card {
    box-shadow: none;
    position: absolute;
    top: 37%;
    left: 5%;
    right: 5%;
    border-radius: 20px;

    h1 {
      font-weight: bold;
      font-size: 19px;
      text-align: center;
      margin-bottom: 5px;
    }

    p {
      text-align: center;
      font-size: 16px;
      margin-bottom: 55px;
    }
  }
}
