<ion-content>
  <div id="header">
    <div id="logo">
      <img src="./assets/images/banner-title.png" alt="" srcset="">
    </div>
  </div>

  <ion-card class="ion-padding">
    <ion-card-content>
      <h1>Bienvenido Crypto Inc Gold</h1>
      <p>Bienvenido a la era de los criptoactivos</p>

      <ion-button (click)="signIn()" expand="block" shape="round" class="ion-margin-bottom">Ingresar</ion-button>
      <ion-button (click)="signUp()" expand="block" shape="round">Crear cuenta</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
