<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Actualizar Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-loading-preview></app-loading-preview>
  <form [formGroup]='frm' (ngSubmit) ="updatePassword()">
    <ion-card mode="ios">
      <ion-card-header *ngIf="!Google2FAEnabled">
        <ion-card-subtitle>Importante</ion-card-subtitle>
        <ion-card-title>Google Authenticator</ion-card-title>
      </ion-card-header>
      <ion-card-header *ngIf="Google2FAEnabled">
        <ion-card-subtitle>2FA Activo</ion-card-subtitle>
        <ion-card-title>Google Authenticator</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <p *ngIf="!Google2FAEnabled">Por favor utilice la aplicación de Google Authenticator para un mejor nivel de seguridad ante retiros no autorizados de su cuenta.</p>
          <p *ngIf="Google2FAEnabled">Para actualizar su contraseña es necesario ingrese su codigo de seguridad y contraseña actual.</p>
          <ion-item>
            <ion-input type="password" formControlName="password" placeholder="Password actual"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="password" formControlName="newpassword" placeholder="Nuevo password"></ion-input>
          </ion-item>
          <ion-item *ngIf="Google2FAEnabled">
            <ion-input type="number" formControlName="code" placeholder="Ingresar código 2FA"></ion-input>
          </ion-item>
          <ion-button type="submit" expand='block' shape="round" type='submit' color="success" [disabled]='!frm.valid'>Actualizar</ion-button>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
