<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-justify">Nivel: {{ resumen.iq!=null?resumen.iq:'' }}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openLeadership()">
        <ion-icon name="rocket-outline"></ion-icon>
      </ion-button>
      <ion-button slot="icon-only" [hidden]="true">
        <ion-icon name="notifications-outline"></ion-icon>
        <ion-badge color="primary" mode="ios">{{ notifications }}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content style="padding:5px;">
  <app-progress-bar></app-progress-bar>
  <ion-row>
    <ion-col>
      <ion-card class="ion-no-padding" mode="ios" style="text-align: center; padding-top: 0.5em; margin: 0px;">
        <ion-card-content class="ion-no-padding">
         <ion-grid>
           <ion-row>
             <ion-col size="12">
                <ion-label>
                  <small><ion-icon name="people" size="small"></ion-icon> Afiliados Activos</small>
                  <p>{{ resumen.referrals }}</p>
                </ion-label>
             </ion-col>
           </ion-row>
         </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="ion-no-padding" mode="ios" style="text-align: center; padding-top: 0.5em; margin: 0px;">
        <ion-card-content class="ion-no-padding">
         <ion-grid>
           <ion-row>
             <ion-col size="12">
                <ion-label>
                  <small><ion-icon name="cash-outline" size="small"></ion-icon> Ganancias</small>
                  <p>$ {{ resumen.rewards }} USD</p>
                </ion-label>
             </ion-col>
           </ion-row>
         </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-card mode="ios" class="ion-no-padding"  style="margin: 0px;" *ngIf="resumen.progress < 100">
        <ion-card-content class="ion-no-padding">
          <ion-item lines-none detail>
            <ion-label>
              <p>Para tu proximo retiro</p>
              <h2><ion-progress-bar value="{{ resumen.progress }}" buffer="0.5"></ion-progress-bar></h2>
            </ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card mode="ios" class="ion-no-padding"  style="margin: 0px;  margin-top:10px;" *ngIf="resumen.progress >= 100" (click)="withdrawal()">
        <ion-card-content class="ion-no-padding">
          <ion-item lines-none detail>
            <ion-icon name="wallet-outline" slot="start"></ion-icon>
            <ion-label>Solicitar retiro de fondos</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <app-loading-preview></app-loading-preview>

      <ion-card class="ion-no-padding" style="margin: 0px;  margin-top:10px;" *ngIf="arrIqs">
        <ion-card-header>
          <ion-card-subtitle>Bonos IQ(Mayores beneficios)</ion-card-subtitle>
        </ion-card-header>
          <ion-slides pager="false" [options]="sliderOne" #slideWithNav>
            <ion-slide *ngFor="let s of arrIqs" (click)="goToIq(s)">
              <img [src]="s.image??'./assets/images/default-image.jpg'">
            </ion-slide>
          </ion-slides>
      </ion-card>

      <ion-card class="ion-no-padding" style="margin: 0px;  margin-top:10px;" *ngIf="arrEntertainments">
        <ion-card-header>
          <ion-card-subtitle>Entretenimiento</ion-card-subtitle>
        </ion-card-header>
        <ion-slides pager="false" [options]="sliderOne" #slideWithNav>
          <ion-slide *ngFor="let s of arrEntertainments" (click)="goToEntertainment(s)">
            <img [src]="s.image??'./assets/images/default-image.jpg'">
          </ion-slide>
        </ion-slides>
      </ion-card>

      <ion-card class="ion-no-padding" style="margin: 0px;  margin-top:10px;" *ngIf="arrTravels">
        <ion-card-header>
          <ion-card-subtitle>Viajes</ion-card-subtitle>
        </ion-card-header>
        <ion-slides pager="false" [options]="sliderOne" #slideWithNav>
          <ion-slide *ngFor="let s of arrTravels" (click)="goToTravel(s)">
            <img [src]="s.image??'./assets/images/default-image.jpg'">
          </ion-slide>
        </ion-slides>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
