<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="openProfile()" color="light">
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom" mode="ios">
    <ion-tab-button tab="products">
      <ion-icon name="cube-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="packages">
      <ion-icon name="analytics-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button></ion-tab-button>

    <ion-tab-button tab="entertaiment">
      <ion-icon name="wallet-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-fab vertical="bottom" horizontal="center" >
  <ion-fab-button class="button-central">
    <ion-icon name="gift-outline"></ion-icon>
  </ion-fab-button>

  <ion-fab-list side="top">
    <ion-fab-button>
      <ion-icon name="diamond-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>

  <ion-fab-list side="end">
    <ion-fab-button>
      <ion-icon name="sparkles-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>

  <ion-fab-list side="start">
    <ion-fab-button>
      <ion-icon name="airplane-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
