
<ion-tabs>
  <ion-tab-bar slot="bottom" mode="ios">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="products">
      <ion-icon name="cube-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="travels">
      <ion-icon name="airplane-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="entertainments">
      <ion-icon name="flash-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="wallet">
      <ion-icon name="wallet-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="referrals">
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
