ion-avatar {
    margin-top: -2.8vh;
    width: 15vh;
    height: 15vh;
    background: var(--ion-color-white);
    margin-bottom: 5px;
    border: 7px solid var(--ion-color-primary);
  }
ion-item {
    margin-top: 6px;
}